<!-- app/Resources/views/gprod.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}GProducts{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/toggle-navigation.css') }}" type="text/css" rel="stylesheet" />
           
            <p> Logo here <p>
            {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header-top">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

            </header>
            <header id="header-middle">
                <div id='toggle-navigation'>
                <ul>
                   <li class='active'><a href='#'>Home</a></li>
                   <li><a href='#'>Toys</a></li>
                   <li><a href='#'>Automotive</a></li>
                   <li><a href='#'>Fashion</a></li>
                   <li><a href='#'>Electronics</a></li>
                </ul>
                </div>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Created by GGG {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>